# Copyright (c) 2000-2020 Synology Inc. All rights reserved.

LatestVersion="7.2"
AvailablePlatform_7_2="avoton braswell bromolow grantley alpine alpine4k monaco armada38x kvmcloud kvmx64 rtd1296 broadwellnk denverton apollolake armada37xx purley v1000 broadwell geminilake broadwellntbap r1000 broadwellnkv2 rtd1619b epyc7002"
