# Copyright (c) 2000-2020 Synology Inc. All rights reserved.

LatestVersion="7.0"
AvailablePlatform_7_0="bromolow cedarview armadaxp armada370 armada375 evansport comcerto2k avoton alpine braswell apollolake grantley alpine4k monaco broadwell kvmx64 armada38x denverton rtd1296 broadwellnk purley armada37xx geminilake v1000"
